.hqstore-btm-bar {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px rgba(128, 128, 128, 0.5) solid;
}

.hq-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.75);
    width: 250px;
    border-radius: 0.8em;
    z-index: 20;
    text-align: center;
    backdrop-filter: blur(8px);
    overflow: hidden;
    opacity: 0;
    transition: all 250ms;
    scale: 1.5;
}

.hq-modal.open {
    opacity: 1;
    scale: 1;
}

.hq-modal-content {
    padding: 15px;
    text-align: center;
}

.hq-modal h1 {
    font-size: 16px;
    font-weight: 700;
}

.hq-modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.hq-modal-back.show {
    display: block;
}

.hq-modal-buttons {
    width: 100%;
}
.hq-modal-buttons button {
    width: 100%;
    background: none;
    border: none;
    border-top: 1px rgba(128, 128, 128, 0.26) solid;
    padding: 8px;
    color:rgb(71, 71, 224);
}